html,
body {
  background-color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  position: relative;
  width: 150px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
  /* border: solid 1px white; */
  transition: all 0.5s;
  /* overflow: hidden; */
  transform: rotateZ(180deg);
}
.button {
  display: flex;
  align-items: center;
  transform: rotateZ(0deg);
  /* transform: rotateZ(45deg); */
  /* transform: rotateZ(90deg); */
  /* transform: rotateZ(135deg); */
  /* transform: rotateZ(180deg); */
  /* transform: rotateZ(225deg); */
  /* transform: rotateZ(270deg); */
  /* transform: rotateZ(315deg); */
}
.arrow:after {
  position: absolute;
  display: block;
  content: '';
  color: white;
  width: 120px;
  height: 15px;
  /*   border:solid 1px;  */
  top: -1px;
  border-bottom: solid 2px;
  transform: translatex(4px);
  transition: all 0.5s;
  transform-origin: 0%;
}
.arrow:before {
  position: absolute;
  display: block;
  content: '';
  color: white;
  width: 4px;
  height: 4px;
  /*   border:solid 1px;  */
  border-top: solid 2px;
  border-left: solid 2px;
  top: 50%;
  left: 2px;
  transform-origin: 0% 0%;
  transform: rotatez(-45deg);
  transition: all 0.5s;
}
.button:hover .arrow {
  transform: rotate(180deg) translateX(-30%);
}
.button:hover .arrow:before {
  transform: rotatez(-45deg) translateY(-35%) translateX(-35%);
}
.button:hover .arrow:after {
  transform: scaleX(0.4);
}
.circle {
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100%;
  z-index: 0;
  margin: -60px;
  transform: scale(0.5);
  transition: all 0.5s;
}
.button:hover .circle {
  transform: scale(1);
}
.button:hover {
  cursor: pointer;
}
