body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: 100vh;
}
.main{
    height: 400px;
    width: 250px;
    background-color: #333;
    border-radius: 10px;
    display: grid;
    place-items: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
#box{
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 50px;
    text-align: center;
}
input[type="range"]{
    -webkit-appearance: none;
    height: 10px;
    width: 80%;
    border-radius: 50px;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    outline: pointer;
}
.main #red{
    background:linear-gradient(90deg,#000,red);
}
.main #green{
    background:linear-gradient(90deg,#000,green);
}
.main #blue{
    background:linear-gradient(90deg,#000,blue);
}